RewriteEngine on
Options -MultiViews

RewriteRule ^index$ index.php [L]
RewriteRule ^venue$ venue.php?p=venue [L]
RewriteRule ^socialEvents$ socialEvents.php?p=Social_Events [L]
RewriteRule ^supporters$ supporters.php?p=supporters [L]

### PROGRAM ###
RewriteRule ^keynotes$ keynote.php?p=Keynotes [L]
RewriteRule ^accepted$ accepted.php?p=Accepted_Papers [L]
RewriteRule ^gallery$ gallery.php?p=Photo_Gallery [L]
RewriteRule ^programOverview$ programOverview.php?p=Program_Overview [L]
RewriteRule ^detailedProgram$ detailedProgram.php?p=Detailed_Program [L]

### CALL FOR PAPERS ###
RewriteRule ^restrack$ restrack.php?p=Research_Track [L]
RewriteRule ^eratrack$ eratrack.php [L]
RewriteRule ^tooltrack$ tooltrack.php?p=Tool_Track [L]
RewriteRule ^industrialtrack$ industrialtrack.php?p=Industrial_Track [L]
RewriteRule ^negativerestrack$ negativerestrack.php [L]
RewriteRule ^journalFirstTrack$ journalFirstTrack.php?p=Journal_First_Track [L]
RewriteRule ^lbitrack$ lbitrack.php?p=Late_Breaking_Ideas_Track [L]
RewriteRule ^workshoproposals$ workshoproposals.php?p=Workshop_Proposals [L]

### TRAVEL INFORMATION ###
RewriteRule ^accommodation$ accommodation.php?p=accommodation [L]
RewriteRule ^howToArriveHonolulu$ howToArriveHonolulu.php?p=how_to_get_to_Honolulu [L]
RewriteRule ^howToArriveVenue$ howToArriveVenue.php?p=how_to_get_to_the_venue [L]
RewriteRule ^visaInformation$ visaInformation.php?p=visa_Information [L]
RewriteRule ^touristInformation$ touristInformation.php?p=tourist_Information [L]
RewriteRule ^shuttleBus$ shuttleBus.php?p=conference_Shuttle_Bus [L]

### ORGANIZATION ###
RewriteRule ^organizingCommittee$ organizingCommittee.php?p=organizing_Committee [L]
RewriteRule ^programCommittee$ programCommittee.php?p=program_Committee [L]
RewriteRule ^steeringCommittee$ steeringCommittee.php?p=steering_Committee [L]

### WORKSHOPS ###
RewriteRule ^ibf$ w_ibf.php?p=IBF_2021 [L]
RewriteRule ^iwsc$ w_iwsc.php?p=IWSC_2021 [L]
RewriteRule ^vst$ w_vst.php?p=VST_2021 [L]
RewriteRule ^iwbose$ w_iwbose.php?p=IWBOSE_2021 [L]
RewriteRule ^ds4ma$ w_ds4ma.php?p=DS4MA_2021 [L]

### Registration ###
RewriteRule ^registration$ registration.php?p=Registration [L]
